<div class="margin-auto">
	<div class="display-description">
		<label>Turno: {{gameTurn.player.name}}</label>
		<br><label>Recuerde que la tabla de la izquiera es el tablero de su oponente y el tablero de la derecha es su propio tablero.</label><br>
		
	</div>
	<div class="display-tables row">
		<div class="player-table">
			<div class="row">
				<div class="cell-label my-cell"></div>
				<div *ngFor="let item of gameTurn.battlefield; let i=index">
					<div class="my-cell cell-label ">{{i}}</div>
				</div>
			</div>
			<div *ngFor="let cells of gameTurn.battlefield; let x=index">
				<div class="row">
					<div class="row" *ngFor="let cell of cells; let y=index">
						<div *ngIf="y==0" class="my-cell cell-label">{{getASCII(x)}}</div>
						<div *ngIf="!cell.isShooted" class="my-cell gray" (click)="shotCell(cell, x,y)"></div>
						<div *ngIf="cell.isShooted && !cell.isShip" class="my-cell miss"></div>
						<div *ngIf="cell.isShooted && cell.isShip && !cell.ship?.isSunken" class="my-cell bang"></div>
						<div *ngIf="cell.isShooted && cell.isShip && cell.ship?.isSunken" class="my-cell sunken-ship">
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="player-table">
			<div class="row">
				<div class="cell-label oponent-cell"></div>
				<div *ngFor="let item of oponent.battlefield; let i=index">
					<div class="cell-label oponent-cell">{{i}}</div>
				</div>
			</div>
			<div *ngFor="let cells of oponent.battlefield; let x=index">
				<div class="row">
					<div class="row" *ngFor="let cell of cells; let y=index">
						<div *ngIf="y==0" class="cell-label oponent-cell">{{getASCII(x)}}</div>
						<div *ngIf="!cell.isShooted && !cell.isShip" class="oponent-cell gray empty-cell"></div>
						<div *ngIf="!cell.isShooted && cell.isShip" class="oponent-cell ship"></div>
						<div *ngIf="cell.isShooted && !cell.isShip" class="oponent-cell empty-cell miss"></div>
						<div *ngIf="cell.isShooted && cell.isShip && !cell.ship?.isSunken" class="oponent-cell bang"></div>
						<div *ngIf="cell.isShooted && cell.isShip && cell.ship?.isSunken" class="oponent-cell sunken-ship">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>